/*
Name: Jeff Wu
Date created: 7/15/19
Most recent revision: 7/16/19
*/
body
{
  background-color: #fafafa;
  font-family: arial, helvetica, sans-serif;
  color: #494945;
  max-width: 1000px;
  margin: 0 auto;
}
header, footer
{
  background-color: #d8a184;
  height: 100px;
  text-align: center;
  padding: 30px 10px 20px 10px;
}
h1
{
  font-size: 2.5em;
}
nav
{
  border-top: 3px dashed #8aa29e;
  border-bottom: 3px dashed #8aa29e;
  margin-top: 4px;
}
.clear-float
{
  clear:both;
}
article img
{
  float:left;
  padding-right: 8px;
}
.right-content
{
  float:left;
}
article
{
  margin-bottom: 24px;
}
nav a
{
  background-color: #e3f2fd;
  float: left;
  text-align: center;
  margin: 20px;
  color: #494945;
  border: thin solid #8aa29e;
  padding: 8px;
  text-decoration: none;
  display: block;
  /*width: 100px;*/

}
nav a:visited
{
  color: #494945;
}
nav a.btn.badge-pill:hover
{
  background-color: #8aa29e;
  color: #e3f2fd;
  text-decoration: underline;
}
nav a:active
{
  font-weight: bold;
}
