/*
Name: Jeff Wu
Date created: 7/15/19
Most recent revision: 7/24/20
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html {
   position: relative;
   min-height: 100%;
}

body {
   font-family: 'Roboto', sans-serif;
   margin: 80px 0px 80px 0px;
}

header {
   color: #0A0A0A;
   text-align: center;
   margin-top: 90px;
}

.index-content{
   text-align: center;
   margin: 2rem 0rem 2rem 0rem;
}

.navbar.fixed-top {
   align: right;
   overflow: hidden;
   background-color: #0A0A0A;
   font-size: 0;
   width:100%;
   position:fixed;
   top: 0;
   left: 0px;
}

#mainMenu {
   overflow: hidden;
   background-color: #0A0A0A;
   padding 14px;
   font-size: 0;
}

.navbar-brand a {
   color: #BC2410;
   padding-left: 14px;
}

.navbar-brand a:hover {
   color: #FAFAFA;
   text-decoration: none;
}

#mainMenu a, .bottomnav a {
  float: none;
  color: #FAFAFA;
  text-align: center;
  padding-left: 14px;
  padding-right: 14px;
  text-decoration: none;
  font-size: 17px;
}

#mainMenu a:hover {
  background-color: #BC2410;
  color: #0A0A0A;
  font-weight: bold;
}

#mainMenu a.active {
  background-color: #BC2410;
  color: #0A0A0A;
  font-weight: bold;
}

.bottomnav {
   padding: 4px 8px 4px 8px;
}

i {
   color: #FAFAFA;
}

i:hover, .btn.btn-link:hover {
   color: #BC2410;
   font-weight: bolder;
}

footer {
   background-color: #0A0A0A;
   width:100%;
   text-align: center;
   position:fixed;
   bottom: 0;
}

footer p {
   color: #FAFAFA;
   font-size: 70%;
}

a, a:hover, button:hover, li:hover{
   color: #BC2410;
}

li {
   cursor: pointer;
}

ul {
   padding-left: 20px;
}
section {
   padding-bottom: 1rem;
}

.card-header {
   background-color: LightGray;
}

.btn.btn-link {
   color: #0A0A0A;
   font-size: 90%;
}

figure {
   text-align: center;
}

img.projects {
   width: 90%;
   height: 90%;
}

img.headshot {
  opacity: 1;
  /* display: block; */
  width: 45%;
  /* height: auto; */
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  /* padding: 250px 0; */
  position:absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

#headshot:hover .headshot{
  opacity: 0.3;
}

#headshot:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: #FAFAFA; */
  color: #BC2410;
  font-size: 20px;
  font-weight: bolder;
  /* padding: 16px 16px; */
}
