/*
Name: Jeff Wu
Date created: 7/15/19
Most recent revision: 7/24/20
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
   font-family: 'Roboto', sans-serif;
}

header {
   color: #0A0A0A;
   text-align: center;
   margin-top: 2rem;
}

.index-content{
   text-align: center;
   margin: 2rem 0rem 2rem 0rem;
}

.topnav{
   align: center;
   overflow: hidden;
   background-color: #0A0A0A;
   padding: 14px 16px 14px 0px;
   font-size: 0;
}

.bottomnav {
   padding: 8px;
}

.topnav a, .bottomnav a {
  float: none;
  color: #FAFAFA;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #BC2410;
  color: #0A0A0A;
  font-weight: bold;
}

.topnav a.active {
  background-color: #BC2410;
  color: #0A0A0A;
  font-weight: bold;
}

i {
   color: #FAFAFA;
}

footer {
   background-color: #0A0A0A;
   width: 100%;
   text-align: center;
}

footer p {
   color: #FAFAFA;
   font-size: 70%;
}

a, a:hover{
   color: #BC2410;
}

button:hover {
   color: #BC2410;
}

section {
   padding-bottom: 1rem;
}
